<header><div id="headercont">
    <%= image_tag("logo.png", :alt => "dongletap", :class => "") %>

	<div class="usernav">
		<% if user_signed_in? %>
			Welcome<b> <%= current_user.username %></b> Not you?
		<%= link_to 'Sign Out', destroy_user_session_path %>

		<% else %>
	<b>	<%= link_to 'Sign Up', new_user_registration_path %> </b>
		or 
		<%= link_to 'Sign In', new_user_session_path %>

		<% end %>
	<div class="clear"></div>

    <nav class="round">
      <ul>
		<li><%= link_to "Daily Check-Up", 	'#'               	%></li>
		<li><%= link_to "Recent Deals", 		deals_path      %></li>
		<li><%= link_to "How it works", 		howitworks_path %></li>
		<li><%= link_to "FAQs",         		faq_path   		%></li>
		<li><%= link_to "Contact Us",   		contact_path 	%></li>
       
      </ul>
    </nav>
		
</div>
  </header>